# ============================================
# UI (Flask)
# ============================================
Flask==2.2.5
Flask-WTF==1.0.1
WTForms==3.0.1
Jinja2==3.1.2
Werkzeug==2.2.3
itsdangerous==2.1.2
rapidfuzz==3.9.7
numpy==1.26.4
fakeredis==2.23.3
